body{
	background-image: url("../images/login_background.webp");
	/*background-repeat: no-repeat, repeat;*/
}
.loginPanel{
	border: 5px solid black;
	border-radius: 30px;
	/*border: 2px solid red;*/
	height: 600px;
	width: 25%;
	margin: 2% auto;
}
.loginPanel h1{
	/*border: 2px solid red;*/
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	margin: 2% auto;
}
.loginPanel h2{
	/*border: 2px solid red;*/
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	margin: 2% auto;
}

.loginPanel h3{
	/*border: 2px solid red;*/
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	margin: 10% auto;
}
.loginPanel h4{
	/*border: 2px solid red;*/
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	margin: 2% auto;
	margin-top: 10%;
}
.textField{
	/*border: 2px solid red;*/
	background-color: transparent;
	border-radius: 40px;
	width: 80%;
	height: 6%;
	margin: 0 9%;
	text-align: center;
}

.form{
	/*border: 2px solid red;*/
}
.form label{
	/*border: 2px solid red;*/
	width: 100%;

}
.loginButton{
	/*border: 2px solid red;*/
	background-color: transparent;
	border-radius: 30px;
	margin-left: 33%;
	margin-top: 10%;
	padding: 3% 10%;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
}