.main{
	/*border: 2px solid red;*/
	width: 80%;
	height: 700px;
	margin: 0 auto;
}
h1{
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	margin: 2% auto;
	text-align: center;
}
.search_box{
	/*border: 2px solid red;*/
	height: 100px;
	overflow: hidden;
}
.search_box input{
	margin: 2% auto;
	height: 50px;
	width: 30%;
	margin-left: 30%;
	border-radius: 20px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	text-align: center;
	min-width: 300px;
}
.search_box button{
	height: 50px;
	width: 130px;
	background-color: plum;
	border-radius: 20px;
	border-color: transparent;
	margin-left: 2%;
	font-family: "Roboto", sans-serif;
	font-size: 20px;

}
.search_box button:hover{
	 background: rgb(200,135,200);
}
.listbox{
	/*border: 2px solid red;*/
	height: 600px;
	width: 100%;
	overflow: hidden;
}
.listbox:hover{
	overflow: auto;
}
.row{
	/*border: 2px solid red;*/
	border-radius: 10px;
	height: 320px;
	width: 250px;
	overflow: hidden;
	/*padding: 0 1%;*/
	background-color: transparent;
	display: inline-block;
}
.row:hover{
	/*background-color: white;*/
	/*font-weight: bold;*/
	border: 3px solid black;
	width: 400px;
}

.cover{
	/*border: 2px solid red;*/
	height: 320px;
	width: 200px;
	display: inline-block;
	overflow: hidden;
}
.cover img{
	border-radius: 10px;
	height: 320px;
	width: 200px;
	margin: 0 auto;
}
.cover img:hover{
	padding: 2%;
}
.info{
	/*border: 2px solid red;*/
	height:320px;
	width: 160px;
	display: inline-block;
	overflow: hidden;
	visibility:hidden;
}
.row:hover > .info{
	visibility:visible;
	/*background-color: lavender;*/
}
.info:hover{
	padding: 2%;
}
.element{
	margin: 20% auto;
	/*border: 2px solid red;*/
	height: 30px;
	overflow: hidden;
}
.element p{
	padding-top: 3px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}
.element p:hover {
	overflow: auto;
	width: auto;
	font-weight: bold;
}
a{
	color: black;
}