.account{
	/*border: 2px solid red;*/
	height: 700px;
	width: 80%;
	margin: 15px auto;
	/*overflow: hidden;*/

}
.add{
	width: 95%;
	/*border: 2px solid red;*/
	height: 35px;
	font-family: "Roboto", sans-serif;
	
	margin: 0 auto;
}
.add p{
	background-color: rgba(200, 200, 200, .3);
	width: 17%;
	padding: .4%;
	border-radius: 20px;
	font-size: 20px;
} 
.add p:hover{
	/*font-weight: bold;*/
	background-color: plum;
}
.add a:hover{
	font-weight: normal;
}
.wishlist{
	/*border: 2px solid red;*/
	height: 50PX;
	width: 90%;
	margin: .5% auto;
	overflow: hidden;
}
.wishlist .icon{
	/*border: 2px solid red;*/
	height: 50px;
	width: 60px;
	float: right;
}
.listed{
	height: 50px;
	width: 60px;
	background-image: url('../images/heart_emoji.png');
	background-repeat: no-repeat;
	 /*background-position: 50% 0;*/
	 background-size: contain;
}
.listed:hover{
	background-image: url('../images/heart_white.png');
}

.not_listed{
	height: 50px;
	width: 60px;
	background-image: url('../images/heart_white.png');
	background-repeat: no-repeat;
	 /*background-position: 50% 0;*/
	 background-size: contain;
}
.not_listed:hover{
	background-image: url('../images/heart_emoji.png');
}



.top{
	
	/*border: 2px solid black;*/
	/*border-radius: 50px;*/
	/*background-color: lavender;*/
	/*display: inline-block;*/
	/*border: 2px solid red;*/
	height: 700px;
	width: 75%;
	display: inline-block;
	overflow: hidden;
}
.top:hover{
	
}
.top_infos{
	padding: 25px;
	margin-left: 5%;
	height: 250px;
	border: 2px solid black;
	/*width: 40%;*/
	display: inline-block;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 1%;
	background-color: lavender;
	border-radius: 10px;
}
.top_infos:hover{
	background-color: rgb(220,220,240);
}
.bottom{
	/*display: inline-block;*/
	/*border: 2px solid red;*/
	width: 100%;
	/*height: 700px;*/
	overflow: hidden;
}
.dp{
	/*border: 2px solid red;*/
	/*padding: 1.5%;*/
	height: 600px;
	width: 375px;
	overflow: hidden;
	display: inline-block;
	margin: 50px auto;
	border-radius: 15px;
}
.dp img{
	border-radius: 15px;
	/*border: 2px solid red;*/
	/*border-radius: 50%;*/
	/*object-fit: contain;*/
}
.dp img:hover{
	/*border: 5px solid black;*/
	padding: 1%;
}
.information{
	display: inline-block;
	/*border: 2px solid red;*/
	height: 35px;
	width: 90%;
	text-align: left;
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	margin-top: .25%;
}
.information:hover{
	font-weight: bold;
}
.information p{
	/*padding-left: 30%;*/
	font-size: 25px;
}
.right_content{
	/*border: 2px solid red;*/
	border-radius: 20px;
	height: 330px;
	width: 95%;
	position: relative;
	margin: 1% auto;
}
.right_content:hover, h2{
	box-shadow: 0px 15px 15px 0px plum;
}
.right_content h2{
	padding: 5px;
	height: 40px;
	/*border: 2px solid red;*/
	background-color: plum;
	border-radius: 20px;
	font-family: "Roboto", sans-serif;
	text-align: center;
	overflow: hidden;
}
.scroll{
	margin-top: 2%;
	border-radius: 20px;
	/*border: 2px solid aqua;*/
	height: 230px;
	width: 98%;
	margin-left: 1%;
	overflow: hidden;
	position: absolute;
}
.scroll:hover {
	overflow: auto;
}

.review{
	border: 1px solid rgba(0, 0, 0, .3);
	padding: 5px;
	border-radius: 10px;
	margin: 1% auto;
	width: 95%;
	height: auto;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
}

.review:hover{
	/*border: 1px solid gray;*/
}
.review .username{
	
	height: 25px;


}
.username p{
	border-radius: 10px;
	background-color: lavender;
	font-size: 20px;
	font-weight: bold;
	padding: .5%;
	display: inline-block;
	margin-left: 2%;
}
.review_text{
	margin: 1% 0; 
	padding: .5%;
}
.review_text p{
	/*border: 2px solid red;*/
	font-size: 18px;
}





a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
	font-weight: bold;
}
.p{
	/*border: 2px solid red;*/
	/*width: 20%;*/
	margin-left: 6%;
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
}
p .remove_review{
	
}

.review_form{
	/*border: 2px solid red;*/
	z-index: 9;
	display: none;
	background-color: lavender;

}
.review_form input{
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	border-radius: 15px;
	margin-top: 2%;
	width: 90%;
	height: 125px;
	margin-left: 5%;
	opacity: 1;
}
.review_form button{
	border-radius: 15px;
	margin-left: 5%;
	margin-top: 2%;
	height: 35px;
	width: 150px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

.add{
	margin-top: 250px;
	/*border: 2px solid red;*/
	height: 35px;
}
.add button{
	margin-top: 5px;
	border-radius: 15px;
	height: 30px;
	width: 120px;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	background-color: plum;
}
button{
	border-color: transparent;
}
button:hover{
	font-weight: bold;
}
.ok{
	background-color: plum;
}
.cancel{
	background-color: rgba(255, 0, 0, 0.6);
}