.main{
	/*border: 2px solid red;*/
	width: 80%;
	height: 730px;
	margin: 0 auto;
}
h1{
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	margin: 2% auto;
	text-align: center;
}
.search_box{
	/*border: 2px solid red;*/
	height: 100px;
	overflow: hidden;
}
.filter{
	/*border: 2px solid red;*/
	padding-top:25px ; 
	padding-left: 100px;
}
.search_box input{
	margin: 2% auto;
	height: 50px;
	width: 30%;
	margin-left: 30%;
	border-radius: 20px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	text-align: center;
	min-width: 300px;
}
.search_box button{
	height: 50px;
	width: 130px;
	background-color: plum;
	border-radius: 20px;
	border-color: transparent;
	margin-left: 2%;
	font-family: "Roboto", sans-serif;
	font-size: 20px;

}
.search_box p{
	margin-left: 3%;
	font-family: "Roboto", sans-serif;
	font-size: 23px;
	display: inline-block;
	margin-right: .5%;
}
.search_box select{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	height: 40px;
	width: 15%;
	text-align: center;
	border-radius: 15px;
	background-color: transparent;
	border: 2px solid black;
}
.search_box button:hover{
	 background: rgb(200,135,200);
}
.listbox{
	/*border: 2px solid red;*/
	height: 630px;
	width: 100%;
	overflow: hidden;
}
.listbox:hover{
	overflow: auto;
}


.row{
	/*border: 2px solid red;*/
	position: relative;
	border-radius: 10px;
	height: 320px;
	width: 250px;
	overflow: hidden;
	/*padding: 0 1%;*/
	background-color: transparent;
	display: inline-block;
	margin-bottom: 3%;
}
.row:hover{
	/*background-color: white;*/
	/*font-weight: bold;*/
	border: 3px solid black;
	/*width: 400px;*/
	/*background-color: lavender;*/
}

.cover{
	/*border: 2px solid red;*/
	height: 320px;
	width: 200px;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	margin-left: 10%;
}
.cover img{
	border-radius: 10px;
	height: 320px;
	width: 200px;
	margin: 0 auto;

}
.cover img:hover{
	/*padding: 2%;
	height: 314px;
	width: 190px;
	padding:8px 5px;
	border-radius: 15px;*/
}
.info{
	/*border: 2px solid aqua;*/
	border-radius: 10px;
	z-index: 9;
	height:320px;
	width: 250;
	display: inline-block;
	overflow: hidden;
	visibility:hidden;
	margin-left: 10%;
	background-color: lavender;
	opacity: 0.9;
}
.row:hover > .info{
	visibility:visible;
	/*background-color: lavender;*/
}
.row a{
	text-decoration: none;
}
.info:hover{
	/*padding: 2%;*/
}
.element{
	margin: 15% auto;
	/*border: 2px solid red;*/
	height: 30px;
	overflow: hidden;
}
.element p{
	padding-top: 3px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}
.element p:hover {
	overflow: auto;
	width: auto;
	font-weight: bold;
	font-size: 20px;
}
.addwish{
	/*border: 2px solid aqua;*/
	height: 30px;
	width: 35px;
	margin: 0 auto;
	background-image: url('../images/heart_white.png');
	background-repeat: no-repeat;
	 /*background-position: 50% 0;*/
	 background-size: cover;
}
.addwish:hover{
	background-image: url('../images/heart_emoji.png');
}


.removeWish{
	height: 30px;
	width: 35px;
	margin: 0 auto;
	background-image: url('../images/heart_emoji.png');
	background-repeat: no-repeat;
	 /*background-position: 50% 0;*/
	 background-size: cover;
}

.removeWish:hover{
	background-image: url('../images/heart_white.png');
}
a{
	color: black;
}
