.account{
	/*border: 2px solid red;*/
	height: 740px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.left{
	display: inline-block;
	/*border: 2px solid red;*/
	width: 35%;
	height: 740px;
	overflow: hidden;
}
.right{
	display: inline-block;
	/*border: 2px solid red;*/
	width: 61%;
	height: 740px;
	overflow: hidden;
}
.dp{
	/*border: 2px solid red;*/
	height: 200px;
	width: 200px;
	margin-left: 35%;
	margin-top: 2%;
	overflow: hidden;
}
.information{
	/*border: 2px solid red;*/
	height: 50px;
	width: 90%;
	margin: 2% auto;
	text-align: center;
	overflow: hidden;
}