.account{
	/*border: 2px solid red;*/
	height: 710px;
	width: 80%;
	margin: 15px auto;
	overflow: auto;
}
.left{

	border-radius: 50px;
	background-color: lavender;
	display: inline-block;
	/*border: 2px solid red;*/
	width: 35%;
	height: 700px;
	overflow: hidden;
	min-width: 400px;
}
.left a{
	color: black;
}
.left:hover{
	background-color: rgb(220,220,240);
}
.right{
	display: inline-block;
	/*border: 2px solid red;*/
	width: 63%;
	height: 700px;
	overflow: hidden;
}
.dp{
	/*border: 2px solid red;*/
	height: 200px;
	
	width: 200px;
	margin-left: 35%;
	margin-top: 2%;
	overflow: hidden;
}
.dp img{
	border-radius: 50%;
	object-fit: contain;
	/*border: 1px solid black;*/
}
.dp img:hover{
	padding: 1%;
}
.information{
	/*border: 2px solid red;*/
	height: 45px;
	width: 90%;
	margin: 2% auto;
	text-align: left;
	overflow: hidden;
	font-family: "Roboto", sans-serif;
}
.information p{
	padding-left: 30%;
	font-size: 20px;
}
.information:hover{
	font-weight: bold;
}
.right_content{
	/*border: 2px solid red;*/
	border-radius: 20px;
	height: 300px;
	width: 95%;
	margin: 3.5% auto;
}
.right_content:hover, h2{
	box-shadow: 0px 15px 15px 0px rgba(221,160,221,0.7);
}
.right_content h2{
	padding: 5px;
	height: 40px;
	/*border: 2px solid red;*/
	background-color: plum;
	border-radius: 20px;
	font-family: "Roboto", sans-serif;
	text-align: center;
	overflow: hidden;
	font-size: ;
}
.scroll{
	border-radius: 20px;
	/*border: 2px solid red;*/
	height: 260px;
	overflow: hidden;
}
.scroll:hover {
	overflow: auto;
}

.row{
	border-radius: 20px;
	margin: 1% auto;
	/*border: 2px solid red;*/
	width: 95%;
	height: 40px;
	overflow: hidden;
	background-color: lavender;
}
.element{
	
	margin-left: 4%;
	/*border: 2px solid red;*/
	height: 50px;
	width: 15%;
	display: inline-block;
	overflow: hidden;

}
.element p{
	padding-top: 7px;
	font-family: "Roboto", sans-serif;
	text-align:center;
	font-size: 20px;
}
.row a{
	color: black;
}
.row a:hover{
	font-weight: bold;
}
.noBook{
	width: 90%;
	/*border: 2px solid red;*/
	text-align:center; 
    padding:20px;
    font-family: "Roboto", sans-serif;
    
    margin: 3% auto;
}
.noBook p{
	font-size: 25px;
	margin: 2%;
}
.noBook a{
	font-size: 16px;
	color: black;
	text-decoration: none;
}

.noBook a:hover{
	text-decoration: underline;
}

.scroll .wish_item{
	/*border: 2px solid red;*/
	height: 208;
	width: 130px;
	margin: 3%;
	display: inline-block;
	border-radius: 10px;
}
.scroll img{
	/*border: 1px solid red;*/
	margin: 0 5%;
	margin-top: 3%;

	height: 208px;
	width: 130px;
	border-radius: 10px;
}
.scroll img:hover{
	padding: .8% .5%;
	background-color: rgba(221,160,221,.7);
	box-shadow: 0px 15px 15px 0px rgba(221,160,221,.7);
}