.account{
	/*border: 2px solid red;*/
	height: 700px;
	width: 80%;
	margin: 15px auto;
	overflow: hidden;

}
.add{
	width: 95%;
	/*border: 2px solid red;*/
	height: 35px;
	font-family: "Roboto", sans-serif;
	
	margin: 0 auto;
}
.add p{
	background-color: rgba(200, 200, 200, .3);
	width: 17%;
	padding: .4%;
	border-radius: 20px;
	font-size: 20px;
	padd
} 
.add p:hover{
	font-weight: bold;
	background-color: plum;
}
.edit{
	/*border: 2px solid red;*/
	height: 50PX;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.edit a{
	font-family: "Roboto", sans-serif;
	background-color: rgba(102,205,170,0.5);
	height: 35px;
	border: 1px solid black;
	border-radius: 10px;
	/*border: 2px solid red;*/
	overflow: hidden;
	float: right;
	margin-left: 2%;
	margin-top: .5%;
	font-size: 18px;
	padding: .5%;
}
.top{
	
	/*border: 2px solid red;*/
	/*border-radius: 50px;*/
	/*background-color: lavender;*/
	/*display: inline-block;*/
	/*border: 2px solid red;*/
	height: 700px;
	width: 75%;
	display: inline-block;
	overflow: hidden;
}
.top:hover{
	
}
.top_infos{
	/*border: 2px solid red;*/
	margin: 0 auto;
	padding: 25px;
	height: 250px;
	border: 2px solid black;
	width: 95%;
	overflow: hidden;
	margin-bottom: 1%;
	background-color: lavender;
	border-radius: 10px;
	overflow: hidden;

}
.top_infos:hover{
	background-color: rgb(220,220,240);
}

.dp{
	/*border: 2px solid red;*/
	/*padding: 1.5%;*/
	height: 600px;
	width: 375px;
	overflow: hidden;
	display: inline-block;
	margin: 50px auto;
	border-radius: 15px;
}
.dp img{
	border-radius: 15px;
	/*border: 2px solid red;*/
	/*border-radius: 50%;*/
	/*object-fit: contain;*/
}
.dp img:hover{
	/*border: 5px solid black;*/
	padding: 1%;
}
.information{
	display: inline-block;
	/*border: 2px solid red;*/
	height: 35px;
	width: 90%;
	text-align: left;
	font-family: "Roboto", sans-serif;
	overflow: hidden;
	margin-top: .25%;
}
.information:hover{
	font-weight: bold;
}
.information p{
	/*padding-left: 30%;*/
	font-size: 25px;
}
.right_content{
	/*border: 2px solid aqua;*/
	border-radius: 20px;
	height: 330px;
	width: 95%;
	margin: 1% auto;
}
.right_content:hover, h2{
	box-shadow: 0px 15px 15px 0px plum;
}
.right_content h2{
	padding: 5px;
	height: 40px;
	/*border: 2px solid red;*/
	background-color: plum;
	border-radius: 20px;
	font-family: "Roboto", sans-serif;
	text-align: center;
	overflow: hidden;
	font-size: ;
}
.textField{
	
	/*border: 2px solid red;*/
	height: 200px;
	width: 90%;
	margin: 0 auto;
	margin-top: 3%;
}
.textField input{
	height: 150px;
	width: 100%;
	border: 2px solid black;
	border-radius: 15px;
	
}
button{

	font-family: "Roboto", sans-serif;
	font-size: 18px;
	border-radius: 15px;
	background-color: plum;
	padding:1% 2%;
	margin-left: 40%;
	border-color: transparent;
}
button:hover{
	 background: rgb(200,135,200);
}